amqp==5.3.1
asttokens==3.0.0
billiard==4.2.1
black==25.1.0
blinker==1.9.0
cachelib==0.13.0
celery==5.5.3
certifi==2025.4.26
charset-normalizer==3.4.2
click==8.1.8
click-didyoumean==0.3.1
click-plugins==1.1.1.2
click-repl==0.3.0
colorama==0.4.6
decorator==5.2.1
executing==2.2.0
faker==37.1.0
flask==3.1.0
flask-caching==2.3.1
flask-cors==6.0.0
flask-mail==0.10.0
flask-sqlalchemy==3.1.1
greenlet==3.2.1
idna==3.10
iniconfig==2.1.0
ipython==9.2.0
ipython-pygments-lexers==1.1.1
itsdangerous==2.2.0
jedi==0.19.2
jinja2==3.1.6
kombu==5.5.4
markupsafe==3.0.2
marshmallow==4.0.0
matplotlib-inline==0.1.7
mypy-extensions==1.1.0
packaging==25.0
parso==0.8.4
pathspec==0.12.1
platformdirs==4.3.7
pluggy==1.5.0
pony==0.7.19
prompt-toolkit==3.0.51
pure-eval==0.2.3
pygments==2.19.1
pyjwt==2.10.1
pytest==8.3.5
python-dateutil==2.9.0.post0
python-dotenv==1.1.0
redis==6.2.0
requests==2.32.3
six==1.17.0
sqlalchemy==2.0.40
stack-data==0.6.3
traitlets==5.14.3
typing-extensions==4.13.2
tzdata==2025.2
urllib3==2.4.0
vine==5.1.0
wcwidth==0.2.13
werkzeug==3.1.3
